<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body id="body">

    <header>
        <nav>
            
            <div class="navbar">
                <span style="color: brown; font-size:2rem; float:left" ><%=name%></span>
                ToDo App
                <button id="logout" style="float: right;"><a href="/">Log Out</a></button>
            </div>

        </nav>
    </header>